@import '../../scss/variables.scss';

#skills{
    padding: 3rem 2rem;
    
    .skills-title{
        font-family: $SilkScreen;
        color: $lightBlue;
        text-align: center;
    }
    .skills-container{
        display: flex;
        padding: 10vh 5vw;
    
        .skill-box{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            min-width: 50%;
            .box{
                padding: 1rem 1rem;
                
                p{
                    margin-bottom: 0;
                }
                .skill-item{
                    .skill-bar{
                        width: 20vw;
                        height: .5em;
                        background-color: $darkBlue;
                        .skill-bar-fullfilled {
                        height: .5em;
                        background-color: $lightBlue;
                        }
                    }
                }
            }
        }
        .cv-download{
            text-align: center;
            margin-top: 5vh;
            display: flex;
            flex-direction: column;
            .cv-download-img{
                border-radius:10px;
            }
            button{
                width: fit-content;
                margin: 2vh auto;
            }
            a{
                color: $lightBlue
            }
        }
    }


}