@import '../../scss/variables.scss';


#contact{
    margin: 10rem 0rem;
    .title, p{
        text-align: center;
    }
    .form-box{
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem .4rem;
        margin: 0 auto;
        background-color: $darkBlue;
        border-radius: 15px;
        .form-content{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            .form-content-detail{
                position: relative;
                margin: 1rem 0;
                label{
                    padding: 0 .2rem;
                    margin: 0;
                    position: absolute;
                    top: 5px;
                    left: 12px;
                    background-color: $darkBlue;
                    color: $lightBlue;
                    transition: top .3s ease-in;
                }
                input, textarea{
                    background-color: $darkBlue;
                    border: 2px solid $lightBlue;
                    border-radius: 10px;
                    color: $snowWhite;
                    font-family: $Poppins;
                    font-size: 1rem;
                    padding: 0 .3rem;
                    outline: none;
                    transition: border .3s ease-in;
                    &:hover{
                        border: 2px solid $snowWhite;
                    }
                    &:focus ~ label, &:not(:placeholder-shown):not(:focus) ~ label {
                        top: -15px;
                    }
                }
                
                input{
                    // -webkit-appearance: none;
                    appearance: none;
                    height: 55px;
                    width: 200px;

                    &#mail-box{
                        width: 350px;
                    }
                    
                    
                    // &:-internal-autofill-selected {
                    //     background-color: transparent !important;
                    //     background-image: none !important;
                    //     color: inherit !important;
                    // }

                    
                }
                textarea{
                    height: 150px;
                    width: 350px;
                    resize: none;
                    padding-top: 40px;
                }
            }
            
        }
        .submit-form-btn{
            width: 150px;
            margin: 0 auto;
        }
    }
}