@import '../../scss/variables.scss';


.profil-container{
    display:flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20vh 5vw;
    align-items: center;
    .profil-presentation{
        width: 75%;
        padding: 1vh 3vw;
        .profil-title{
            font-size: 2rem;
            color: $lightBlue;
            margin-bottom: 10vh;
        }
        .profil-presentation-txt{
            a, span {
                color: $lightBlue;
                transition: .2s ease-in-out;
                text-decoration: none;
            }

            a:hover{
                color: $snowWhite;
                font-weight:700;
            }
        }
    }
    .profil-pict{
        width: 25%;
        border: 2px solid $lightBlue;
        border-radius: 20px;
        .profil-pict-main{
            width: 100%;
            border-radius: 20px;
            display:flex;
            margin: 0 auto;
            transform: translate(-10px, -10px);
            box-shadow: 1em 1em 1em .1em $lightBlueTransparent;
            transition: .8s ease-in-out;
        }
    :hover{
        transform: scale(1.3);
    }
    }
}

@media screen and (max-width: $sm-screen) {
    .profil-container{
        flex-direction: column;
    }
}