@import '../../scss/variables.scss';


.profil-container{
    display:flex;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20vh 5vw;
    align-items: center;

    .profil-presentation{

        .profil-title{
            font-size: 2rem;
            color: $lightBlue;
            font-family: $SilkScreen;
        }
        .profil-presentation-txt{
            width: 75%;
            padding-left: 5vw;
            a, span {
                color: $lightBlue;
                transition: .2s ease-in-out;
                text-decoration: none;
            }
            a:hover{
                color: $snowWhite;
                font-weight:700;
            }
        }
    }
    .profil-pict{
        min-width: 20%;
        border: 2px solid $lightBlue;
        border-radius: 22px;

        .profil-pict-main{
            width: 100%;
            border-radius: 20px;
            display:flex;
            margin: 0 auto;
            transform: translate(-10px, -10px);
            box-shadow: 1em 1em 1em 1em $lightBlueTransparent;
            transition: .8s ease-in-out;
        }
        :hover{
            transform: translate(0px, 0px);
            box-shadow: none;
        }
    }
}

@media screen and (max-width: $md-screen) {
    .profil-container{
        flex-direction: column;
        .profil-pict{
            margin-top: 6vh;
            width: 25%;
        }
    }
}