@import './variables.scss';
@import './fonts.scss';
@import './buttons.scss';

*{
  scroll-behavior: smooth;
  body {
    margin: 0;
    padding:0;
    background-color: black;
    color: $snowWhite;
    font-family: $Poppins;
    a {
      text-decoration: none;
      color: $snowWhite;
      
    }
    h2 {
      font-size: 2rem;
    }
  }
}


// Style de la barre de scroll
body::-webkit-scrollbar {
  width:10px;            
  }
  
body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: $lightBlue;
  border-radius: 6px;       
  border: 1px solid black;  
}
  